
<div class="bg">

<br/>
<br/>
<br/>
<br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
<p class="py-5 text-center" style="color: red; font-family: 'Courier New', Courier, monospace; font-size: 100px">
    Hi Welcome to My Library. </p>
    <button (click)="onClick()"  mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light" mdbWavesEffect>Click Here To Explore</button>
         

    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </div>

