<span class="container">
        <span class="row">
          <span class="col-3">
           <!-- Sidebar -->
    <span class="sidebar-fixed position-fixed">
        <form>
        <a class="logo-wrapper wav../es-effect">
            <img src="assets/narutoo.jpg" class="img-fluid" alt="">
        </a>

        <span class="list-group list-group-flush">
          
<mdb-checkbox value="Business" (change)="filterdata($event)" class="list-group-item list-group-item-action waves-effect">Business</mdb-checkbox>
<mdb-checkbox value="Non Fiction" (change)="filterdata($event)" class="list-group-item list-group-item-action waves-effect">Non Fiction</mdb-checkbox>
<mdb-checkbox value="Management" (change)="filterdata($event)" class="list-group-item list-group-item-action waves-effect">Management</mdb-checkbox>
<mdb-checkbox value="Technology" (change)="filterdata($event)" class="list-group-item list-group-item-action waves-effect">Technology</mdb-checkbox>
<mdb-checkbox value="Fiction" (change)="filterdata($event)" class="list-group-item list-group-item-action waves-effect">Fiction</mdb-checkbox>

            </span>
</form>
    </span >
    <!-- Sidebar -->
          </span>
          <span class="col-7" style="margin-top: 2.5%">
              <input class="form-control mr-sm-2" [(ngModel)]="inputdata" (input) = "search()" placeholder="Search">
              <br/>
        <span class="row" >    
     <mdb-card class="col-4" *ngFor="let book of testarray"> 
        <a [routerLink]="['/disp', book.id]">
        <mdb-card-img src={{book.imageLink}} alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title> <h4>{{book.title}}</h4></mdb-card-title>  
          <mdb-card-title> <h5>Author: {{book.author}}</h5> </mdb-card-title>
          <mdb-card-title> <h5>Category: {{book.category}}</h5> </mdb-card-title>
        </mdb-card-body>
        </a>
      </mdb-card>
      <br/>
      <br/>
  </span>
  <br/>
      <br/>
  <div *ngIf ="testarray.length === 0">
    <h1 style="align-content: center">Sorry No Books Available</h1>
</div>
  </span>
    </span>
  </span>
 
